@model IEnumerable<Shop.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Order</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.PostOffice)
            </td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @item.Date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.DeliveryDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostOffice)
                </td>
                <td>
                    <a asp-controller="OrderItems" asp-action="Index">Details order</a>
                    <a asp-action="CompletionOrder">Completion Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>
